{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card-styling">
                <div class="card-body">
                    <h1 class="text-center">Send us a message!</h1>
                    {% if not user.is_authenticated %}
                    <p>Please Login to send us a message.</p>
                    <button class="btn btn-success" type="submit"><a href="{% url 'account_login' %}">Login here
                            Page</a></button>
                    <p>Not registered yet? SignUp now!</p>
                    <button class="btn btn-success" type="submit"><a href="{% url 'account_signup' %}">SignUp here
                            Page</a></button>
                    {% else %}

                    {% if user.is_authenticated %}
                    <div class="row text-center">
                        <div class="col-12">
                            <h2 class="fw-bold mt-3">Send Message</h2>
                            <hr>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ contact_form| crispy }}

                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
