{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card_margin">
                <div class="card-body">
                    <h2 class="text-center">Send us a message!</h2>
                    <hr>
                    {% if not user.is_authenticated %}
                    <div class="text-center">
                        <p>Please Login to send us a message.</p>
                        <a href="{% url 'account_login' %}" class="btn btn-success">Log In</a>
                        <br>
                        <br>
                        <p>Not registered yet? SignUp now!</p>
                        <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
                    </div>
                    {% else %}

                    {% if user.is_authenticated %}
                    <div class="row text-center">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ contact_form| crispy }}
                        <br>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div class="card card_margin">
                        <div class="card-body text-center">
                            <h4>Wine & Vinegar</h4>
                            <hr>
                            <p>Achterom 29, 2511 AG Den Haag</p>
                            <p>Phone: 012-3456789</p>
                            <p>Email: WineVinegar@email.com</p>
                            <p>Restaurant Open: from 12:00 till 00:00 </p>
                            <p>Kitchen Open: 16:00 till 23:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6 mt-3 d-inline">
                <div class="card card_margin">
                    <div class="card-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.1059367906278!2d4.30846727662445!3d52.07780137194857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7245358279d%3A0x6c38c6d5faab1266!2sAchterom%2029%2C%202511%20AG%20Den%20Haag!5e0!3m2!1sen!2snl!4v1682867544665!5m2!1sen!2snl" 
                            width="100%" height="100%" style="border:0;" 
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
