{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card-styling">
                <div class="card-body">
                    <h1 class="text-center">Message sent!</h1>
                    <hr>
                    <p>
                        You will receive a response shortly.
                    </p>
                    <hr>
                    <button type="submit">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
