{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- allow user to make a booking when logged in -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card-styling">
                <div class="card-body">
                    {% if not user.is_authenticated %}
                    <h3>Login Required</h3>
                    <p>Please login to book a table and your view previous bookings</p>
                    <button class="btn btn-success" type="submit">
                        <a href="{% url 'account_login' %}">Log In</a>
                    </button>
                    {% else %}
                    <!-- Display form if user is logged in-->
                    {% if user.is_authenticated %}
                    <div class="row text-center">
                        <div class="col-12">
                            <a href="{% url 'allmybookings' %}" class="btn btn-warning">My Bookings</a>
                            <h4 class="fw-bold mt-3">Book a table</h4>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- booking form -->
                        {{ booking_form| crispy }}
                        <br>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    <!-- Form Errors (code from from stack overflow) -->
                    {% if booking_form.errors %}
                    {% for field in booking_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in booking_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
