{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- notify user that booking has been received -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card-styling">
                <div class="card-body">
                    <h3>Booking received</h3>
                    <br>
                    <a href="{% url 'allmybookings' %}" class="btn btn-success" role="button">My Bookings</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
