/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* --- base.html --- */

.logo {
    max-width: 50px;
}

.banner {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    color: bisque;
    text-align: center;
}

body {
    background-color: rgb(42, 80, 98);
    color: rgb(134, 134, 134);
}

.navbar {
    color: rgb(94, 94, 94);
    font-size: 200%;
}

/* overall styling */

.card-styling {
    background-color: rgb(97, 98, 83);
    border-radius: 5px;
}

.card-styling, a {
    text-decoration: none;
    color: black;
}

.home_images {
     width: 100%;
     border-radius: 5px;
}

/* --- blog.html --- */

a:hover {
    color: rgb(134, 134, 134);
}

.card_margin {
    margin: 10px;
}