/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Domine:wght@400;500;600;700&display=swap');


/* --- base.html --- */

.logo {
    max-width: 50px;
}

.banner {
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    color: #ffe4c4;
    text-align: center;
    margin-bottom: 0;
}

body {
    background-color: #2a5062;
    color: #ffe4c4;
    font-family: 'Domine', serif;
    
}

.navbar {
    color: rgb(255, 0, 0);
    font-size: 180%;
}

.nav-link:hover{
    color: rgb(21, 21, 21);
}

/* overall styling */

.card {
    background-color: #2e2f27;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.card, a {
    text-decoration: none;
    color: #ffe4c4;
    border-color: black;
}

.card-text {
    border-radius: 5px;
}

.blog-content {
    background-color: #2e2f27;
    color: #ffe4c4;
}

.home_images {
     width: 100%;
     border-radius: 5px;
}

.img_link {
    border: 10px solid black;
    border-radius: 5%;
}

.dancing {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

/* --- blog.html --- */

a:hover {
    color: rgb(134, 134, 134);
}

.card_margin {
    margin-bottom: 10px;
}

.card-img-top {
    border-radius: 2px;
    
}

.like_no_border {
    border: 0px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
}

.image-container {
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    color: black;
}

.btn-success {
    background-color: darkgreen;
    border-color: darkgreen;
    color: #ffe4c4;
}