{% extends 'base.html' %}
{% block content %}
<!-- display food menu -->
<div class="col-12 mt-3 left">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card mb-8 card_margin">
                <div class="card-body card-styling text-center">
                    <h2 class="dancing">Starters</h2>
                    {% for item in food_items %}
                    {% if item.item_category == 1 and item.item_available %}
                    <hr>
                    <h5>{{ item.item_name }}</h5>
                        {{ item.item_description | safe }}
                        € {{ item.item_price }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-8 card_margin">
                <div class="card-body card-styling text-center">
                    <h2 class="dancing">Mains</h2>
                    {% for item in food_items %}
                    {% if item.item_category == 2 and item.item_available %}
                    <hr>
                    <h5>{{ item.item_name }}</h5>
                        {{ item.item_description | safe }}
                        € {{ item.item_price }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-8 card_margin">
                <div class="card-body card-styling text-center">
                    <h2 class="dancing">Desserts</h2>
                    {% for item in food_items %}
                    {% if item.item_category == 3 and item.item_available %}
                    <hr>
                    <h5>{{ item.item_name }}</h5>
                        {{ item.item_description | safe }}
                        € {{ item.item_price }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}