{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <div class="card card-styling card_margin">
                <div class="card-body text-center">
                    <h3>404</h3>
                    <br>
                    <h5>Sorry!</h5>
                    <p>The page you're looking for doen't exist.</p>
                    <a href="/" class="btn btn-success">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
