{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Image Carousel from Bootstrap -->
        <div class="col-12 mt-3 left">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card mb-9 card_margin">
                        <div class="card-body card-styling">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="static/images/carousel_1.jpg" class="d-block w-100 home_images" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="static/images/carousel_2.jpg" class="d-block w-100 home_images" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="static/images/carousel_3.jpg" class="d-block w-100 home_images" alt="...">
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}